html, body {
  height: 100%;
  margin: 0;
  }

.wrapper {
  min-height: 100%;
  margin-bottom: -110px;
  }

.footer, .push {
  margin-top: 50px;
  height: 50px;
  }

.brand-logo {
  margin-left: 20px;
}

#logoIcon{
  font-size: 50px;
}

#searchTool {
  margin-right: 20px;
}

#searchInput {
  margin-right: 20px;
}

#searchButton {
  background-color: rgba(15, 101, 199, 0.671) !important;
  margin-bottom: 7px;
}

input, input:focus {
  border: 1px solid white !important;;
  background-color: white !important;
  border-radius: 20px !important;
  padding-left: 10px !important;
}

#searchIcon{
  margin-top: -10px;
  font-size: 30px;
}

.container {
  margin-top: 30px;
}

.albumCard {
  width: 200px;
  margin-left: 10px;
  display: inline-block;
}

.card-content {
  height: 130px;
}

.cardButton {
  width:70px;
  margin-left: 40px;
}

.photoCard {
  width: 300px;
  margin-left: 10px;
  display: inline-block;
}

#mainTitle {
  font-family:fantasy;
  text-align: center;
  font-weight: bold;
  color:rgba(15, 101, 199, 0.671);
  background-color: rgb(228, 228, 228);
  border-radius: 30px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#subTitlePhotos {
  font-family: cursive;
  font-style: italic;
  text-align: center;
  color: rgba(4, 27, 53, 0.671);
}

#backButton, #upButton {
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 89, 190, 0.671);
}

#backButton {
  margin-left: -5%;
}

#upButton {
  margin-left: 65%;
}

#backButtonIcon, #upButtonIcon {
  font-size: 80px;
  margin-top: 20px;
}