html, body {
  height: 100%;
  margin: 0;
  }

.wrapper {
  min-height: 100%;
  margin-bottom: -110px;
  }

.footer, .push {
  margin-top: 50px;
  height: 50px;
  }

.brand-logo {
  margin-left: 20px;
}

#logoIcon{
  font-size: 50px;
}

#searchPhotos {
  margin-top: 5px;
  margin-right: 10px;
}

#searchAlbums {
  margin-right: -90px;
  margin-top: -15px;
}

[type="radio"].with-gap:checked+span:after {
  transform: scale(1.2);
  border: 2px solid #0040f0;
  font-weight: bold;
  background-color: white !important;
}

#searchPhotosSpan, #searchAlbumsSpan {
  color: white !important;
}

#searchTool {
  margin-right: 20px;
}

#searchInput {
  margin-right: 20px;
}

#searchButton {
  background-color: rgba(15, 101, 199, 0.671) !important;
  margin-bottom: 7px;
}

input, input:focus {
  border: 1px solid white !important;;
  background-color: white !important;
  border-radius: 20px !important;
  padding-left: 10px !important;
}

#searchIcon{
  margin-top: -10px;
  font-size: 30px;
}

.container {
  margin-top: 30px;
}

.albumCard {
  width: 200px;
  margin-left: 10px;
  display: inline-block;
}

.card-content {
  height: 130px;
}

.card-action {
  background-color: rgb(245, 245, 245) !important;
}

.cardButton {
  width:70px;
  margin-left: 40px;
}

.photoCard {
  width: 300px;
  margin-left: 10px;
  display: inline-block;
}

#mainTitle {
  font-family:fantasy;
  text-align: center;
  font-weight: bold;
  color:rgba(15, 101, 199, 0.671);
  background-color: rgb(228, 228, 228);
  border-radius: 30px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#subTitlePhotos {
  font-family: cursive;
  font-style: italic;
  text-align: center;
  color: rgba(4, 27, 53, 0.671);
}

#backButton, #upButton {
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 89, 190, 0.671);
}

#backButton {
  margin-left: -200px;
  margin-right: auto;
}

#upButton {
  margin-left: -100px;
  margin-right: auto;
}

#backButtonIcon, #upButtonIcon {
  font-size: 80px;
  margin-top: 20px;
}

/* .contentYellow {
  background-color: rgba(250, 236, 159, 0.918);
}

.contentBlue {
  background-color: rgba(169, 208, 253, 0.671);
}

.contentRed {
  background-color: rgba(255, 194, 192, 0.671);
}

.contentGrey {
  background-color: rgba(207, 207, 207, 0.671);
}

.contentLemon {
  background-color: rgba(254, 255, 182, 0.671);
}

.contentIris {
  background-color: rgba(228, 208, 251, 0.671);
}

.contentTeal {
  background-color: rgba(197, 249, 253, 0.671);
}

.contentViolet {
  background-color: rgba(248, 191, 255, 0.671);
} */