.form-group {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.form_row {
    margin-top: 10px;
}

.form-control {
    width: 490px;
    display: inline-block !important;
}

.form-control.ng-invalid.ng-touched, .uneditable-input:focus {   
    border-color: rgba(247, 37, 9, 0.849);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(247, 43, 17, 0.6);
    outline: 0 none;
  }

.form-select {
    width: 490px;
}

.warning-symbol {
    display: inline-block;
    font-size: 25px;
    color: red;
    font-weight: bold;
    margin-bottom: 0px;
    width: 5px;
}

#emailAddon {
    width: 40px;
}

.email-group {
    width: 495px;
}

#email-group-astriks {
    width: 5px;
}

#email-group-exclamation {
    width: 5px
}



.register-button {
    margin-top: 10px;
    text-align: center;
}