<p>Reactive Form</p>

<div class="form-group">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="alert alert-warning"
            *ngIf="registerForm.touched && registerForm.status==='INVALID'">
            Please, fill all rows.
        </div>
        <div class="user-name form_row">
            <input type="text"
                    class="form-control"
                    placeholder="Name"
                    name="name"
                    formControlName="name">
            <div class="alert alert-warning"
                *ngIf="name.invalid &&
                    (name.touched || name.dirty)">
                <div *ngIf="name.errors.minlength">
                    Name must be at least two characters!
                </div>
                <div *ngIf="name.errors.required">
                    Name field is required!
                </div>
            </div>
        </div>
        <div class="user-surname form_row">
            <input type="text"
                    class="form-control"
                    placeholder="Surname"
                    name="surname"
                    formControlName="surname">  
            <div class="alert alert-warning"
                *ngIf="surname.invalid && (surname.touched || surname.drity)">
                <div *ngIf="surname.errors.minlength">
                    Surname must be at least two characters!
                </div>
                <div *ngIf="surname.errors.required">
                    Surname field is required!
                </div>
            </div>
        </div>
        <div class="user-email form_row">
            <input type="text"
                    class="form-control"
                    placeholder="Email"
                    name="email"
                    formControlName="email">
            <div class="alert alert-warning"
                *ngIf="email.invalid && (email.touched || email.dirty)">
                <div *ngIf="email.errors.pattern">
                    Wrong email format!
                </div>
                <div *ngIf="email.errors.required">
                    Email is required field!
                </div>
            </div>
        </div>
        <div class="user-age form_row">
            <input type="text"
                    class="form-control"
                    placeholder="Age"
                    name="age"
                    formControlName="age">
            <div class="alert alert-warning" 
                *ngIf="age.invalid && (age.touched || age.dirty)">
                <div *ngIf="age.errors.min">
                    Age must be a positive number and at least 1!
                </div>
                <div *ngIf="age.errors.pattern">
                    This field accept only positive digits!
                </div>
                <div *ngIf="age.errors.required">
                    Age field is required!
                </div>
            </div>
        </div>
        <div class="user-gender form_row">
            <select name="gender" formControlName="gender" class="form-select">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <div class="user-street form_row">
            <input type="text"
                    class="form-control"
                    placeholder="Street"
                    name="street"
                    formControlName="street">
        </div>
        <div class="user-postal-code form_row">
            <input type="text"
                    class="form-control"
                    placeholder="Postal Code"
                    name="postalCode"
                    formControlName="postalCode">
            <div class="alert alert-warning" 
                 *ngIf="postalCode.invalid &&
                        (postalCode.dirty ||
                        postalCode.touched)">
                <div *ngIf="postalCode.errors.pattern">
                    "Postal code must be in XX-XXX or XXXXX format."
                </div>
                <div *ngIf="postalCode.errors.required">
                    "Postal code is required field!"
                </div>
            </div>
        </div>
        <div class="user-city form_row">
            <input type="text"
                    class="form-control"
                    placeholder="City"
                    name="city"
                    formControlName="city">
        </div>
        <div class="register-button">
            <button type="submit" class="btn btn-primary">
                Register
            </button>
            <button type="button" class="btn btn-primary"
                (click)="resetForm()">
                    Reset
            </button>
            <button type="button" class="btn btn-primary"
                (click)="loadUserFromServer()">
                    Load User
            </button>
            <button type="button" class="btn btn-primary"
                (click)="patchRegisterForm()">
                    Patch Form
            </button>
        </div>
    </form>
</div>

<p>Form Control value: {{ registerForm.value | json }}</p>
<p>Form Control status: {{ registerForm.status | json }}</p>