<p>products works!</p>

<div *ngFor="let product of productsArray; index as i" class="product-container">
    <h3 class="name">{{product.name}}</h3>
    <h4 class="price">Cena: {{product.prize}} zł</h4>
    <h5 [ngClass]="productClassesFunc(i)">Avaliable</h5>
    <button class="minus" (click)="subtractQuantity(i)" *ngIf="product.amount !== 0">-</button>
    <input type="text" class="quantity" [value]="product.amount">
    <select id="cars">
        <option *ngFor="let amount of product.quantityArray" value="amount">{{amount}}</option>
    </select>
    <button class="plus" (click)="addQuantity(i)" [disabled]="product.quantity == product.amount">+</button>
    <button (click)="toggleFavouriteEmit(i)"
            *ngIf="!product.favourite">Add to favourite</button>
            
    <button (click)="toggleFavouriteEmit(i)"
            *ngIf="product.favourite">Remove from favourite</button>
</div>