<p>create-product works!</p>

<div class="form-group">
    <form (ngSubmit)="createProduct(productForm)" #productForm="ngForm">
        <div class="product-name">
            <input type="text"
                    placeholder="product name"
                    required
                    name="productName"
                    #productName="ngModel"
                    [ngModel]="product.name"
                    (ngModelChange)="product.name=$event">    
        </div>
        <div class="product-prize">
            <input type="text"
                    placeholder="product prize"
                    required
                    name="productPrize"
                    #productPrize="ngModel"
                    [(ngModel)]="product.prize" >    
        </div>
        <div class="product-image">
            <input type="text"
                    placeholder="product image URL"
                    required
                    name="productURL"
                    #productImage="ngModel"
                    [(ngModel)]="product.imageURL">    
        </div>
        <div class="productOnSale">
            <div class="product-sale">
                <input type="radio"
                        placeholder="on sale?"
                        name="productOnSaleTrue"
                        [(ngModel)]="product.onSale" [value]=true> True  
            </div>
            <div class="product-sale">
                <input type="radio"
                        placeholder="on sale?"
                        name="productOnSaleFalse"
                        [(ngModel)]="product.onSale" [value]=false> False 
            </div>
        </div>  
        <div class="product-quantity">
            <input type="text"
                    placeholder="product quantity"
                    name="productQuantity"
                    [(ngModel)]="product.quantity" >    
        </div>  
        <div class="product-confirm">
            <input type="checkbox" name="productConfirmCheckbox"
                    [(ngModel)]="confirmed">
                    Confirm to create new product.
        </div>
        <button type="submit" [disabled]="!confirmed">Create</button>
    </form>
    <button (click)="product.name='TEST'">reset product name</button>
</div>

<h4>Product name is {{product.onSale}}</h4>